body 
{
	background-image: url("img/hexellence.png");
	font-family: 'Acme', sans-serif;
	color: #F33737;
	margin-top: 10px;
	margin-bottom: 20px;
}
form
{
	margin-top: 30px;
}
input[type=text],
input[type=password],
input[type=number]
{
	width: 200px;
	background-color: #efefef;
	color: #F33737;
	font-family: 'Acme', sans-serif;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	padding: 8px;
	box-sizing: border-box;
	margin-top: 8px;
	letter-spacing: 3px;
	opacity: 0.8;
}
input[type=text]:hover,
input[type=password]:hover,
input[type=number]:hover
{
	opacity: 1;
	color: FF0000;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus
{
	box-shadow: 3px 3px 15px 3px rgba(204, 204, 204, 0.9);
	border: 2px solid #990000;
	background-color: #ffcccc;
}
input[type=checkbox],
input[type=radio],
label
{
	margin-top: 15px;
	transition: width 2s, height 2s, transform 2s;
	transition-timing-function: ease-out;
}
input[type=checkbox]:hover,
label:hover
{
	/*width: 10px;
    height: 10px;*/
    transform: rotate(10deg);
	/*cursor: cell;*/
}

input[type=submit],
input[type=reset]
{
	width: 200px;
	background-image: linear-gradient(to bottom right, #660000 20%, #990000 60%, #000000 100%);
	/*background-color: #770000;*/
	color: white;
	font-family: 'Acme', sans-serif;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	padding: 8px 6px;
	cursor: pointer;
	letter-spacing: 3px;
	box-sizing: border-box;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-right: 5px;
	margin-left: 5px;
	text-shadow: 3px 4px 4px rgba(228, 125, 132, 1);
}
input[type=submit]:focus
{
	box-shadow: 3px 3px 15px 3px rgba(204, 204, 204, 0.9);
}
input[type=submit]:hover,
input[type=reset]:hover
{
	/*background-color: #990000;*/
	background-image: linear-gradient(to bottom right, #990000 20%, #FF7878 60%, #660000 100%);
}
#button
{
	width: 95px;
	background-image: linear-gradient(to bottom right, #660000 20%, #990000 60%, #000000 100%);
	/*background-color: #770000;*/
	color: white;
	font-family: 'Acme', sans-serif;
	border: none;
	border-radius: 5px;
	font-size: 12px;
	padding: 8px 6px;
	cursor: pointer;
	letter-spacing: 2px;
	box-sizing: border-box;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-right: 5px;
	margin-left: 5px;
	text-shadow: 3px 4px 4px rgba(228, 125, 132, 1);
}
#button:focus
{
	box-shadow: 3px 3px 15px 3px rgba(204, 204, 204, 0.9);
}
#button:hover
{
	/*background-color: #990000;*/
	background-image: linear-gradient(to bottom right, #990000 20%, #FF7878 60%, #660000 100%);
}
#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#header
{
	background-image: linear-gradient(to bottom right, #660000 20%, #990000 60%, #000000 100%);
	color: white;
	margin-top: 5px;
	font-size: 36px;
	text-align: center;
	letter-spacing: 5px;
	padding: 10px;
	box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	text-shadow: 3px 4px 4px rgba(228, 125, 132, 1);
	border-radius: 2px;
}
.sticky
{	
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	z-index: 100;
	text-shadow: 3px 4px 4px rgba(228, 125, 132, 1);
}
#adl
{
	/*background-color: yellow;*/
	float: left;
	width: 60px;
	min-height: 360px;
}
#main
{
	/*background-color: white;*/
	float: left;
	width: 880px;
	min-height: 360px;
	text-align: center;
	box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
}
#adr
{
	/*background-color: blue;*/
	float: left;
	width: 60px;
	min-height: 360px;
}
#footer
{
	clear: both;
	background-image: linear-gradient(to bottom right, #660000 20%, #990000 60%, #000000 100%);
	color: white;
	margin-bottom: 20px;
	font-size: 16px;
	text-align: right;
	letter-spacing: 3px;
	padding: 5px;
	box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
	text-shadow: 3px 4px 4px rgba(228, 125, 132, 1);
	border-radius: 2px;
}
#main_header
{
	min-height: 50px;
}
#main_header_form
{
	margin-top: 10px;
}
#main_left
{
	float: left;
	width: 200px;
	/*background-color: green;*/
	min-height: 360px;
}
#main_left_form
{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	margin-bottom: 20px;
}
#main_left input {
    float: left;
}

#main_left label {
    float: left;
}

#main_left label + input {
    clear: both;
}
#main_center
{
	float: left;
	width: 300px;
	/*background-color: orange;*/
	min-height: 360px;
}
#main_center_form
{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 40px;
}
#main_center_buttons
{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px;
	margin-bottom: 40px;
}
#main_right
{
	float: left;
	width: 300px;
	/*background-color: blue;*/
	min-height: 360px;
}
#main_right_form
{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 0px;
	margin-bottom: 20px;
}
#main_right input {
    float: left;
}

#main_right label {
    float: left;
}

#main_right label + input {
    clear: both;
}
#main_footer
{
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
	/*background-color: black;*/
}
#eteams
{
	margin-left: auto;
	margin-right: auto;
	margin-top: auto; /*550*/
}
#alfa
{
	float: left;
	margin-left: auto;
	margin-right: auto;
}
#beta
{
	float: left;
	margin-left: auto;
	margin-right: auto;
}
#gamma
{
	float: left;
	margin-left: auto;
	margin-right: auto;
}
#delta
{
	clear: both;
	float:left;
	margin-left: auto;
	margin-right: auto;
}
#epsilon
{
	float: left;
	margin-left: auto;
	margin-right: auto;
}
#main_form
{
	margin-left: 40px;
	margin-right: 40px;
}
#assign_form
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 50px;
}
#priority
{
	min-height: 400px;
	margin-left: auto;
	margin-right: auto;
}
#personal_info
{
	min-height: 400px;
	margin-left: auto;
	margin-right: auto;
}
#medical_issue
{
	min-height: 400px;
	margin-left: auto;
	margin-right: auto;
}
#m_procedure
{

}
#mps1, #mps2, #mps3, #mps4, #mps5, #mps6
{
	margin-left: 5px;
	margin-right: 5px;
	float: left;
}
#mps1 input, #mps2 input, #mps3 input, #mps4 input, #mps5 input 
{
	float: left;
}
#mps1 label, #mps2 label, #mps3 label, #mps4 label, #mps5 label
{
	float: left;
}
#mps1 label + input, #mps2 label + input, #mps3 label + input, #mps4 label + input, #mps5 label + input 
{
	clear: both;
}
#drug
{

}
#ds1, #ds2, #ds3, #ds4, #ds5
{
	margin-left: 12px;
	margin-right: 12px;
	float: left;
}
#ds1 input, #ds2 input, #ds3 input, #ds4 input, #ds5 input
{
	float: left;
}
#ds1 label, #ds2 label, #ds3 label, #ds4 label, #ds5 label
{
	float: left;
}
#ds1 label + input, #ds2 label + input, #ds3 label + input, #ds4 label + input, #ds5 label + input
{
	clear: both;
}
#assignment
{
	margin-top: auto;
	margin-left:50px;
	margin-right:50px;
}
#patient_info
{
	text-align: center;
}
.blinking
{
	background: linear-gradient(135deg, rgba(239,197,202,1) 0%,rgba(210,75,90,1) 65%,rgba(186,39,55,1) 100%,rgba(241,142,153,1) 100%);
	color: white;
}
#blink
{
	-webkit-transition: background 1.0s ease-in-out;
	-ms-transition:     background 1.0s ease-in-out;
	transition:         background 1.0s ease-in-out;
}